.accordion-item {
    cursor: pointer;
}
body {
    background-image: url("../images/site-sources/background.jpg");
    background-repeat: repeat;
}

.jumbotron {
    background-color: bisque;
    color: rgb(116, 74, 20);
    background-image: url("../images/cabinets/jumbotron-bg-test.JPG");
    background-size: cover;
}

.container {
    background-image: url("../images/site-sources/container-background.jpg");
    border-left: 5px solid rgb(224, 179, 83);
    border-right: 5px solid rgb(224, 179, 83);
    border-bottom: 5px solid rgb(224, 179, 83);
}

.bg-brown {
    background-color: rgb(224, 179, 83);
}

.bg-bisque {
    background-color: bisque;
}

.btn-brown {
    background-color: rgb(224, 179, 83);
    color: white!important;
}

.btn-brown:hover {
    background-color: brown;
}

.border-brown {
    border-color: burlywood!important;
}

.btn-contrast {
    background-color: black;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 40px;
}

.btn-contrast:hover {
    background-color: white;
    color: black;
}

.btn-link-brown{
    font-weight: 400;
    color: brown;
    background-color: transparent;
}

.btn-link-brown:hover {
    color: burlywood;
}

#div-bottom {
    padding-bottom: 10px;
}

.img-fluid:hover {
    cursor: pointer;
    opacity: 0.9;
}

.jumbotron-p {
    font-size: 1.3rem;
    font-weight: 350;
}

.jumbotron-h {
    font-size: 3.5rem;
    font-weight: 310;
    line-height: 1.2;
}

@media only screen and (max-width: 600px) {
    .display-4 {
        font-size: 2.5rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-h {
        font-size: 2.5rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-p {
        font-size: 1.3rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .btn-contrast {
        margin-top: 1rem!important;
    }
}

@media only screen and (min-width: 600px) {
    .display-4 {
        font-size: 3.2rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-h {
        font-size: 3.2rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-p {
        font-size: 1.3rem;
        font-weight: 330;
    }

    .btn-contrast {
        margin-top: 1rem!important;
    }
}

@media only screen and (min-width: 768px) {
    .display-4 {
        font-size: 3.5rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-h {
        font-size: 3.5rem;
        font-weight: 310;
        line-height: 1.2;
    }

    .jumbotron-p {
        font-size: 1.3rem;
        font-weight: 350;
    }
}